{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Plants</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!-- ADD MATERIALUI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <nav>
      <a class="navbar" href="/"> My Plants</a>
    </nav>
    <div class="center-container">
      <h4>All My Plants </h4>
      <a class="update btn" href="/plants/create">Add a New Plant</a>
    </div>
   
    <div class="center-container-border">
      {% for plant in plants %}
        <a href="/plants/{{plant.id}}">
          <p>{{ plant.name }} | Type: {{ plant.plant }}</p>
        </a>
      
      {% endfor %}
    </div>
    
</body>
</html>